add_vote "开始生存 (等级 1, 2名玩家上限)" start_survival_scenario survivals/bats-for1.cfg
add_vote "开始生存 (等级 2, 4名玩家上限)" start_survival_scenario survivals/bats-for2.cfg
add_vote "开始生存 (等级 3, 4名玩家上限)" start_survival_scenario survivals/bats-for3.cfg
add_vote "开始生存 (等级 4, 6名玩家上限)" start_survival_scenario survivals/bats-for4.cfg
add_vote "开始生存 (等级 5, 6名玩家上限)" start_survival_scenario survivals/bats-for5.cfg
add_vote "开始生存 (等级 6, 8名玩家上限)" start_survival_scenario survivals/bats-for6.cfg
add_vote "开始生存 (等级 7, 8名玩家上限)" start_survival_scenario survivals/bats-for7.cfg
add_vote "开始生存 (不可能, 32名玩家上限)" start_survival_scenario survivals/bats-for32.cfg
# add_vote "开始生存 (等级 8)" start_survival_scenario survivals/bats-for8.cfg
# add_vote "开始生存 (等级 9, kekality)" start_survival_scenario survivals/bats-for9.cfg
# add_vote "开始生存 (等级 10, kekality, now for real)" start_survival_scenario survivals/bats-for10.cfg
# add_vote "开始生存 (等级 11, should be easy, huh?)" start_survival_scenario survivals/bats-for11.cfg
